/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

$navbarBreakpoint: 640px;

#navigation {
    position: fixed;
    left: 0;
    right: 0;

    height: var(--miles-header-size);
    background-color: var(--color-theme);

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    font-size: 1.2em;

    & + * {
        padding-top: var(--miles-header-size);
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .brand-logo {
        margin-right: 0.5em;
    }

    #hamburger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;

        .icon-bar {
            display: block;
            width: 25px;
            height: 4px;
            margin: 2px;
            background-color: var(--color-on-theme);
        }

        &:is(:focus, :hover) .icon-bar {
            background-color: var(--color-on-theme);
        }

        &[aria-expanded="true"] .icon-bar {
            &:is(:first-child, :last-child) {
                position: absolute;
                margin: 0;
                width: 30px;
            }

            &:first-child {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }

        @media screen and (min-width: $navbarBreakpoint) {
            display: none;
        }
    }

    #menu-content {
        position: fixed;
        top: var(--miles-header-size);
        bottom: 0;
        left: 0;
        right: 0;

        opacity: 0;
        visibility: hidden;
    }

    #hamburger[aria-expanded="true"] + #menu-content {
        background-color: rgba(0, 0, 0, 0.95);
        opacity: 1;
        visibility: visible;
        .menu-items {
            padding: 1em;
        }
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        left: 0;
        right: 0;
        margin: 1.4rem;

        border-radius: 5px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

        list-style: none;
    }

    @media screen and (min-width: $navbarBreakpoint) {
        #menu-content, #hamburger[aria-expanded="true"] #menu-content {
            display: block;

            position: static;
            visibility: visible;
            opacity: 1;
        }

        .menu-items, #hamburger[aria-expanded="true"] #menu-content .menu-items {
            position: static;
            flex-direction: row;

            margin: 0;
            padding: 0;
            box-shadow: none;
        }
    }
}
