---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

import Layout from '@layouts/PageLayout.astro';

const title = "Contact Us"
const description = "Use this form to provide feedback about your experience on our website!"

const formEndpoint = "https://form.taxi/s/3qjy4gdw";

---

<Layout {title} {description}>

	<h1>Contact Miles</h1>
	<p>Any feedback you have would be appreciated! Please submit your comments below.</p>

	<form action={formEndpoint} method="post" accept-charset="UTF-8">
		<p>
			<label for="name">Your name <em>(optional)</em></label>
			<input id="name" name="name" type="text" placeholder="Anonymous" />
		</p>

		<p>
			<label for="email">Your email</label>
			<input id="email" name="email" type="email" placeholder="example@domain.com" required />
		</p>
		<p>
			<label for="comments">Message</label>
			<textarea id="comments" name="comments" placeholder="Comments" rows="5" required></textarea>
		</p>

		<p class="consent">
			<input type="checkbox" id="consent" name="consent" required />
			<label for="consent"><small>I have read and agree to the <a href="/privacy">Privacy Policy</a> and am of legal age.</small></label>
		</p>

		<p><button class="btn -theme" type="submit">Submit</button></p>

		<p class="verification">
			<label for="website">Verify you are human by leaving this field empty</label>
			<input type="url" id="website" name="website" tabindex="-1" autocomplete=false value="" />
		</p>
	</form>

</Layout>

<style lang="scss">
	p.consent {
		display: grid;
		grid-template-columns: 1rem 1fr;
		grid-template-rows: auto;
		column-gap: 0.75rem;
	}
	p.verification {
		display: none;
	}
</style>
