---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

import Layout from '@layouts/PageLayout.astro';
import Button from '@components/Button.astro';

const title = "Mahalo"
const description = "Form Submission.  Thank You for your Feedback!"

---

<Layout {title} {description} noindex=true>

	<h1>Mahalo!</h1>
	<p>Thank you for taking the time to provide feedback!  You will get a reply as soon as possible, usually within 48 hours.</p>

	<Button class="marginX:1rem" href="/">Home Page</Button> <Button href="/posts">Blog Posts</Button>

</Layout>
