---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

const year = new Date().getFullYear();
---

<div>
	<a href="/privacy">Privacy Policy</a> |
	Trademark Policy |
	<a href="/contact">Contact</a>
	<br>
	<small>&copy; {year} Miles Pernicious</small>
</div>

<style lang="scss">
	div, a:any-link, a:any-link:hover {
		height: 100%;
		background-color: var(--color-theme);
		color: var(--color-on-theme);
		text-align: center;
	}
</style>
