---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

const year = new Date().getFullYear();
---

<div>
	Privacy Policy | Site Index | Trademark Policy | Feedback<br>
	<small>&copy; {year} Miles Pernicious</small>
</div>

<style lang="scss">
	div {
		height: 100%;
		background-color: var(--color-theme);
		color: var(--color-on-theme);
		text-align: center;
	}
</style>
