---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

---

<div class="height:100% width:100% object-fit:cover
            background:linear-gradient(to_top,#00c6fb_0%,#005bea_100%)
            dark:background:darken($brand,20)"></div>
