---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

const year = new Date().getFullYear();
---

<div class="height:100% text-align:center
            background-color:$brand [&,a]{color:$white;text-decoration:none}">
	<a href="/privacy">Privacy</a> |
	<a href="/trademark">Trademarks</a> |
	<a href="/contact">Contact</a>
	<br>
	<small>&copy; {year} Miles Pernicious</small>
</div>
