---
/*
 * (C) Copyright 2023
 * Miles Pernicious <miles@milespernicious.com>
 *
 * SPDX-License-Identifier: MIT
 */

import "@styles/hero.scss";
import SocialIconLink from "@components/SocialIconLink.astro";

interface Props {
	mainText: string,
	mainTextGradient: string,
	subText: string
}

const { mainText, mainTextGradient, subText } = Astro.props;
---

<section class="hero">
	<div class="hero-overlay"></div>
	<div class="hero-content">
		<div class="container">
			<h1>{mainText} <span class="gradient">{mainTextGradient}</span></h1>
			<p class="h5">{subText}</p>
			<hr />
			<div class="socials">
				<SocialIconLink href="https://twitch.tv/MilesPernicious" name="Twitch" />
				<SocialIconLink href="https://discord.gg/aloha" name="Discord" />
				<SocialIconLink href="https://mastodon.world/@MilesPernicious" name="Mastodon" />
				<SocialIconLink href="https://youtube.com/MilesPernicious" name="YouTube" />
				<SocialIconLink href="https://github.com/MilesPernicious" name="GitHub" />
			</div>
		</div>
	</div>
</section>
<style lang="scss">
	div.socials {
		display: flex;
		justify-content: center;
	}
</style>
