---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

import Layout from "@layouts/PageLayout.astro";
---

<Layout title="About Miles" description="">
	<h1>Hi, I'm Miles Pernicious</h1>
	<p>
	I've live streamed on multiple platforms, including Twitch currently, and also create content for YouTube. Streaming has provided me with opportunities I could never have imagined! I get to travel across the U.S. for conferences, meet up with fans, and bring my own flavor of aloha to the world.
	</p>

	<p>
	How did I end up doing this? As a child who started piano lessons in kindergarten, and was introduced to computers and video games a few years later, I did not imagine that those would be the very foundation of my current career in live streaming. But my love of music, software development, and gaming set me on this path. Some days I even get to combine all three in the same stream by playing video game music on piano and using my computer to stream it!
	</p>

	<p>
	My live streaming style is laid-back, family-friendly, and full of aloha spirit. I genuinely believe that games should be fun, and when you stop having fun, you should stop playing. Sharing my experience and knowledge with a calm and easy-to-understand delivery helps unlock the most potential for fun in games.
	</p>

	<p>
	<a href="https://subs.twitch.tv/MilesPernicious"><strong>Subscribe to my Twitch channel</strong></a> and see why I've hosted a panel at PAX on family-friendly streams, been invited multiple times onto the official Minecraft stream, guest produced for Verena Mei, and received a dedicated care package from the ESRB.
	</p>
</Layout>
