---
/*
 * (C) Copyright 2023
 * Miles Pernicious <miles@milespernicious.com>
 *
 * SPDX-License-Identifier: MIT
 */

import "@styles/hero.scss";

interface Props {
	mainText: string,
	mainTextGradient: string,
	subText: string
}

const { mainText, mainTextGradient, subText } = Astro.props;
---

<section class="hero">
	<div class="hero-image">
		<img src="https://ik.imagekit.io/aloha/beach.jpg" srcset="https://ik.imagekit.io/aloha/beach.jpg?tr=w-350 350w,https://ik.imagekit.io/aloha/beach.jpg?tr=w-640 640w, https://ik.imagekit.io/aloha/beach.jpg?tr=w-968 968w, https://ik.imagekit.io/aloha/beach.jpg?tr=w-1200 1200w, https://ik.imagekit.io/aloha/beach.jpg?tr=w-1600 1600w" alt="" />
	</div>
	<div class="hero-overlay"></div>
	<div class="hero-content">
		<div class="container">
			<h1>{mainText} <span class="gradient">{mainTextGradient}</span></h1>
			<p class="h5">{subText}</p>
			<hr />
			<div>
				Social Links
			</div>
		</div>
	</div>
</section>
