---
/*
 * (C) Copyright 2023
 * Miles Pernicious <miles@milespernicious.com>
 *
 * SPDX-License-Identifier: MIT
 */

import "../styles/hero.scss";
---

<section class="hero">
	<div class="hero-image">
		<img src="https://ik.imagekit.io/aloha/beach.jpg" srcset="https://ik.imagekit.io/aloha/beach.jpg?tr=w-350 350w,https://ik.imagekit.io/aloha/beach.jpg?tr=w-640 640w, https://ik.imagekit.io/aloha/beach.jpg?tr=w-968 968w, https://ik.imagekit.io/aloha/beach.jpg?tr=w-1200 1200w, https://ik.imagekit.io/aloha/beach.jpg?tr=w-1600 1600w" alt="" />
	</div>
	<div class="hero-overlay"></div>
	<div class="hero-content">
		<div class="container">
			<h1>Creating with <span class="gradient">Aloha!</span></h1>
			<p class="h5">Everyone can use some extra aloha in their life! Miles Pernicious is a family-friendly creator, musician, and developer from Hawaii.</p>
			<div>
				Social Links
			</div>
		</div>
	</div>
</section>
