---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

---

<!--
stylify-components
	'pullquote': `
		margin:1rem padding:1rem_1rem_1rem_.25rem
		background-color:$surface color:$white
		border-radius:$radius
		p {
			margin:1rem
		}
		::before {
			float:left content:open-quote
			font-size:$font-size-8 line-height:$font-lineheight-4
			padding:1rem
		}
		::after {
			float:right content:close-quote
			font-size:$font-size-8 line-height:$font-lineheight-4
		}
	`
/stylify-components
 -->

<aside class="pullquote">
	<p class="h3 ">
		<slot/>
	</p>
</aside>
