---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

import Svg from '@jasikpark/astro-svg-loader';

interface Props {
	name: string;
	href: string;
}

const { name, href } = Astro.props;

// The imports need to be a string literal so we can't dynamically generate
// the file names
let svgIcon;

switch (name) {
	case "Discord":
		svgIcon = import("@svg-icons/ionicons-solid/logo-discord.svg?raw");
		break;
	case "GitHub":
		svgIcon = import("@svg-icons/ionicons-solid/logo-github.svg?raw");
		break;
	case "Mastodon":
		svgIcon = import("@svg-icons/ionicons-solid/logo-mastodon.svg?raw");
		break;
	case "Twitch":
		svgIcon = import("@svg-icons/ionicons-solid/logo-twitch.svg?raw");
		break;
	case "YouTube":
		svgIcon = import("@svg-icons/ionicons-solid/logo-youtube.svg?raw");
		break;
	default:
		throw Error("Unknown SVG icon")
}
---

<a {href} rel="me">
	<Svg src={svgIcon} aria-label={name} />
</a>

<style lang="scss">
	svg {
		margin-right: 8px;
		height: 36px;
		width: 36px;
		&:hover {
			color: white;
		}
	}
</style>
