---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

import Layout from '@layouts/PageLayout.astro';

import { getCollection } from 'astro:content';
const coll = await getCollection('schedule');
const months = coll.sort((a, b) => b.data.events[0].event.start.getTime() - a.data.events[0].event.start.getTime());

---

<Layout title="Miles' schedule" description="When is Miles' next stream?">
	<div class="container">
	<h1 class="text-align:center marginY:2rem">Miles' schedule</h1>
	{months.map((schedule) => (
		<article class="marginY:2rem">
			<div class="h3 text-align:center"><a href={`/schedule/${schedule.id}/`}>{schedule.data.month}</a></div>
		</article>
	))}
	</div>
</Layout>
