---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

import Layout from '@layouts/PageLayout.astro';
import DateFormat from '@components/DateFormat.astro';

const { title, description, subtitle, date, dateUpdated } = Astro.props;
const showUpdated = !!dateUpdated;

---

<Layout {title} {description}>
	<article class="container">
		<h1>{title}</h1>
		<h2 id="subtitle">{subtitle}</h2>
		<p class:list={['text-small', 'date', { published: !showUpdated, updated: showUpdated }]}>
			{showUpdated ? "Updated on " : "Published on "}
			<DateFormat date={showUpdated ? dateUpdated : date} />
		</p>
		<slot />
	</article>
</Layout>
<style>
	h2#subtitle {
		font-family: var(--family-main);
		font-weight: bold;
	}
</style>
