---
/*
 * (C) Copyright 2023 Miles Pernicious
 *
 * SPDX-License-Identifier: MIT
 */

import BaseLayout from "@layouts/BaseLayout.astro";

const { title, description, noindex } = Astro.props;
---

<BaseLayout {title} {description} {noindex}>
	<div class="prose padding:1rem font-size:1.2rem marginX:auto md:padding:2.5rem">
		<slot />
	</div>
</BaseLayout>
